/* __________________________________________________________________________________

                                NEW CSS
__________________________________________________________________________________ */

:root {
    --primary-color: #000;
    --secondary-color: #0b45c0;
    --dark-grey: #ee1a1a;
    --bg-header: #ffedce;
    --link-color: #fa0;
    --link_hover-opacity_reduction: 0.8;
    --link_visited_color: #444;
    --link_active_color: #fc0000;
    --grid_background-color: #aaa;
    --button_bg-color: #fff;
    --black: #000;
    --white: #fff;
    --grey: #ddd;
    --big-font: clamp(2rem, 10vw, 2.8rem);
    --medium-font: clamp(1.7rem, 6vw, 2.4rem);
    --small-font: clamp(1.5rem, 4.5vw, 1.8rem);
    --extra-small-font: clamp(1.4rem, 3vw, 1.6rem);
    --h5-small-font: clamp(1.2rem, 2vw, 1.4rem);
    --padding_small: 1rem;
    --padding_medium: 2rem;
    --padding_big: 2rem;
    --padding_extra_big: 3rem;
    --box_shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}


/* _________________ C O M M O N S __________________ */

* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-weight: 400;
    font-size: var(--extra-small-font);
    line-height: 1.8;
    margin-bottom: 80px;
    /* Margin bottom by footer height */
}

h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

h2 {
    font-size: var(--medium-font);
    font-weight: 400;
}

h3 {
    font-size: var(--small-font);
    font-weight: 300;
}

h4 {
    font-size: var(--extra-small-font);
    font-weight: 300;
}

h5 {
    font-size: var(--h5-small-font);
    font-weight: 300;
}


/* .card-header {
    background-color: #fff;
}

.card-footer {
    padding: 0 0 0 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
} */

.nav-link {
    font-size: 0.9rem;
}

.selfie {
    width: 15rem !important;
}

.logo {
    width: clamp(16rem, 18rem, 20rem);
}


/* ==============================================================

                W O R K   P A G E

=============================================================== */


/* .projects__grid {
    display: block;
    padding: var(--padding_small);
}

.projects__grid--item {
    box-shadow: var(--box_shadow);
    text-align: center;
    padding: 2rem 3rem;
}

.projects__grid--item>h3 {
    color: var(--secondary-color);
    font-weight: bold;
}

.projects__grid--item>a {
    font-size: 0.9rem;
    font-weight: bold;
} */


/* ==============================================================

                C O N T A C T S   P A G E

=============================================================== */


/* 
.contacts__heading {
    padding: var(--padding_small);
    text-align: center;
}

.contacts__container {
    display: block;
    width: 100%;
    text-align: center;
}

.contacts__container--item:first-child {
    display: block;
    text-align: center;
}

.contacts__container--item:last-child {
    display: inline-block;
    padding-top: 2rem;
}

.button__padding {
    padding: 3rem 0;
} */


/* .icon {
    width: 2.8rem;
    height: 2.8rem;
    text-decoration: none;
}

.contacts__container--item:last-child>a {
    padding: 2rem;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: 0.13rem solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1rem;
}

textarea {
    height: 10rem;
    resize: none;
}

.contacts__table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} */


/* ==============================================================

                A B O U T    P A G E

=============================================================== */


/* ---------------- MAIN  */


/* .about_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.about_container--header {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.about__container--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.about__container--item>h3 {
    padding-top: 1rem;
} */